<p>formulario1 works!</p>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="exampleFormControlInput1" placeholder="name@example.com" ngModel>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="exampleFormControlTextarea1" rows="3" ngModel></textarea>
  </div>

  <div class="mb-3">
    <button class="btn btn-primary" type="submit" id="submit" aria-label="Enviar">Enviar</button>
  </div>
</form>
